Source: virtstatus
Section: unknown
Priority: extra
Maintainer: Jan Horacek <jan.horacek@etnetera.cz>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: virtstatus
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
